[user]
	name = Rahmal Conda
	email = rahmal@gmail.com
[push]
  default = matching
[core]
  excludesfile = ~/.gitignore_global
[filter "lfs"]
  clean    = git-lfs clean -- %f
  smudge   = git-lfs smudge -- %f
  process  = git-lfs filter-process
  required = true

